.my-order h1{

    margin-top: 50px;
    margin-bottom: 50px;
}


.my-order .order-img{
    width: 100px;
}

.order-data{

    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.my-order{
    margin-bottom: 100px;
}